@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes animanim {
  0% {
    transform: rotate(0, 1, 1, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 1, 1turn);
  }
  75% {
    transform: rotate3d(1, -1, -1, -0.2turn);
  }
  100% {
    transform: rotate3d(2, -1, -1, -0.2turn);
  }
}

.anim {
  animation: animanim linear 8s infinite normal none running;
}
@keyframes rotateCube {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.cubee {
  animation: rotateCube 5s infinite linear;
}
.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCube 5s infinite linear;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #ffffffe5;
  border: 1px solid #d3d3d3;
  text-align: center;
  font-size: 24px;
}

.front {
  transform: translateZ(50px);
}

.back {
  transform: rotateY(180deg) translateZ(50px);
}

.left {
  transform: rotateY(-90deg) translateZ(50px);
}

.right {
  transform: rotateY(90deg) translateZ(50px);
}

.top {
  transform: rotateX(90deg) translateZ(50px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

@keyframes rotateCube {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(360deg);
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    display: none;
  }
}
.hide {
  animation: hide 1s;
  animation-fill-mode: forwards;
}
.show {
  animation: show linear 1s;
}

.anim {
  animation: show linear 8s infinite normal none running;
}

.bgfix {
  background-image: url(/216.png);
  background-repeat: no-repeat;
  background-size: 25dvh;
  background-position: center;
}

@keyframes pic {
  0% {
    transform: translateX(-100vw) rotate(0deg);
  }
  100% {
    transform: translateX(0) rotate(310deg);
  }
}

@keyframes picrotate {
  0% {
    transform: translateX(0) rotate(310deg);
  }
  50% {
    transform: translateX(0) rotate(360deg);
  }
  100% {
    transform: translateX(0) rotate(310deg);
  }
}

.picanim {
  animation: pic 2s ease-in-out forwards;
  transform-origin: top right;
}

.picanim.animate-rotate {
  animation: picrotate 1.5s infinite ease-in-out;
}
